<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <style>
        #selec{
            width: 200px !important;
            margin: auto;
        }
    </style>
    <title>Calculadora</title>
</head>
<body>
<div class="container mt-5">
    <div class="text-center">
        <h1>DUVIDEI FAZER UMA CONTA:</h1>
        <form action="/" method="post">
            <div class="input-group mb-3">
                <input id="numerin" name="numerin" type="number" class="form-control " aria-label="TextInput" placeholder="Botcheie um numerin ae"
                       aria-describedby="basic-addon2">
            </div>
            <div id="selec">
                <select id="selecao" name="selecao" class="form-control mb-3 text-center">
                    <option value="+">Somar</option>
                    <option value="-">Subtrair</option>
                    <option value="*">Multiplicar</option>
                    <option value="/">Dividir</option>
                    <option value="P">Potência</option>
                    <option value="R">Raiz</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input id="numerinDois" name="numerinDois" type="number" class="form-control " aria-label="TextInput" placeholder="Botcheie um numerin ae"
                       aria-describedby="basic-addon2">
            </div>
            <input id="botao" type="submit" class="btn btn-primary mt-3"></input>
        </form>
        <h1 id="calculinho" class="mt-5" th:if="${calculinho}" th:text="${calculinho}"></h1>
    </div>
</div>
</body>
</html>